<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fooduzzi</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg"
    />
  </head>

  <body>
    <div class="main1">
      <nav>
        <a href="/"><i class="ri-home-fill"></i> Home</a>
      </nav>

      <div class="pg1">
        <h1>About Us</h1>
        <p>
          Welcome to Fooduzzi, where culinary enthusiasts unite to share and
          discover a world of flavors! Our platform is more than just a recipe
          app; it's a community-driven hub for passionate home cooks and chefs
          alike. Embrace the joy of creating and sharing your culinary
          masterpieces with the world. At Fooduzzi, we believe in the power of
          home-cooked meals, each recipe telling a unique story. Our platform
          empowers you to showcase your creativity in the kitchen. Whether
          you're a seasoned chef or a kitchen novice, everyone has something
          delicious to contribute.
          <br />
          <br />
          Why Choose Fooduzzi?
          <br />
          <br />
          * Share Your Culinary Creations: Add your favorite recipes
          effortlessly and let them shine on our homepage. Your culinary
          creations will inspire and tantalize taste buds across the globe.
          <br />
          <br />
          * Connect with a Vibrant Community: Join a community of fellow food
          enthusiasts, share tips, and engage in conversations that celebrate
          the art of cooking. Connect with others who share your passion and
          discover a world of culinary inspiration.
          <br />
          <br />
          * Discover Endless Inspiration: Explore a diverse range of recipes
          contributed by our community. From traditional favorites to innovative
          twists, our platform is a treasure trove of gastronomic delights.
          <br />
          <br />
          * Personalized Homepage Experience: Every user gets a personalized
          homepage experience showcasing a delightful array of recipes tailored
          to their preferences. Be inspired daily by the creativity of your
          fellow cooks. Become part of theFooduzzi family and embark on a
          culinary journey like never before. Together, let's savor the joy of
          cooking and sharing, making every meal a celebration of flavors and
          togetherness.
        </p>
      </div>
    </div>
  </body>
</html>
