<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fooduzzi</title>
    <link rel="stylesheet" href="/stylesheets/createimage.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg"
    />
  </head>
  <body>
    <div class="main3">
      <nav class="navbar">
        <ul class="nav-list">
          <a href="/"><i class="ri-home-fill"></i> Home</a>
          <a href="/profile"><i class="ri-profile-fill"></i> Profile</a>
          <a href="/createrecipe"
            ><i class="ri-file-list-2-fill"></i> Create Recipe</a
          >
        </ul>
      </nav>

      <div class="container">
        <center><h1>Upload Recipe Image</h1></center>
        <br />
        <br />
        <form
          action="/createupload"
          class="form"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" id="avatar" name="avatar" class="input" />
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
          >
            Upload
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
