<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Fooduzzi</title>
    <link rel="icon" href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg">
</head>
    <style>
       

    </style>
</head>
<body>
    <div class="main3">
        <nav >
            <a href="/"><i class="ri-home-fill"></i> Home</a>
            <a href="/about"><i class="ri-chat-1-fill"></i> About Us</a>
            
        </nav>

        <div class="container">
            
            <div class="container">
                <input id="signup_toggle" type="checkbox">
                <form class="form" action="login" method="post" >
                    <div class="form_front">
                        <div class="form_details">Login</div>
                        <input type="text" class="input" name="username" placeholder="Username">
                        <input type="password" class="input" name="password" placeholder="*********" autocomplete="off">
                        <a href="/forget">Forget Password</a>
                        <button class="btn">Login</button>
                        <span class="switch">
                            Don't have an account? <a href="/register">Register here</a>
                        
                        </span>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

   

</body>
</html>
