<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fooduzzi</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg">
</head>
   
</head>
<body>
    <div class="main3">
        <nav >
            <a href="/"><i class="ri-home-fill"></i> Home</a>
            <a href="/about"><i class="ri-chat-1-fill"></i> About Us</a>
            
        </nav>

        <div class="container">
            <input id="signup_toggle" type="checkbox">
                <form class="form" action="register" method="post">
                    <div class="form_front">
                        <div class="form_details">Register</div>
                        <input type="text" class="input" placeholder="Enter your username" name="username" required>
        
                        <input type="email" class="input" placeholder="Enter your email" name="email" required>
                    
                        <input type="password" class="input" placeholder="**********" name="password" required>
                        <button class="btn">Register</button>
                        <span class="switch">
                            Already have an account? <a href="/login">Login here</a>
                        </span>
                    </div>
                    
                </form>
            
        
        </div>
    </div>


    
    
</body>
</html>
