<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fooduzzi</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg">
</head>

<body>

    <div class="main3">
        <nav class="navbar">
            
           
            <ul class="nav-list">
                <a href="/"><i class="ri-home-fill"></i> Home</a>
                <a href="/profile"><i class="ri-profile-fill"></i> Profile</a>
            </ul>
        </nav>

        <div class="container">
            <h1>Reset Password</h1>

            <form  action="/reset" method="POST">
                <label >Old Password:</label>
                <input  class="input" type="password" placeholder="Old Password" name="oldpassword" />
                <label >New Password:</label>
                <input  class="input" type="password" placeholder="New Password" name="newpassword" />
                <button>Reset Password</button>
                <br />
            </form>
        </div>

    </div>


    
    
   
    
   
</body>
</html>