<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fooduzzi</title>
    <link rel="stylesheet" href="/stylesheets/verify.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" href="https://i.pinimg.com/564x/f6/fb/3b/f6fb3b526b001b4a42f059d3fcb18153.jpg">
</head>

<body>
   
    <div class="main3">
        <nav>
            <ul>
                <a href="/"><i class="ri-home-fill"></i> Home</a>
                <a href="/login"><i class="ri-login-box-line"></i> Login</a>
            </ul>
        </nav>

       


        <div class="container">
            <input id="signup_toggle" type="checkbox">
            <form class="form"  action="/forget/<%= id%>" method="post">
                <div class="form_front">
                    <div class="form_details">Verify Password</div>
                        <input class="input" type="number" name="token" placeholder="Otp here..." />
                        <input class="input" type="password" name="newpassword" placeholder="New Password" />
                        <button class="btn">Verify</button>
                    
                </div>
            </form>
        
        </div>

    </div>


  
</body>
</html>